<br>

<form novalidate [formGroup]="user">
  <label>
    <span>Id:</span>
    <input
      type="text"
      formControlName="id"
      on-focus="focusFunction(1)">
  </label>
  <br>
  <label>
      <span>Name:</span>
      <input
        type="text"
        formControlName="name"
        on-focus="focusFunction(3)">
    </label>
</form>
<!--<br>
<br>
<div style="display: in-line">
  id:
  <input type="text" [(ngModel)]="id" />
</div>
<div style="display: in-line">
  name:
  <input type="text" [(ngModel)]="name" />
</div>
<br>
<br>-->
<div>
  <div style="display: in-line">
    <button class="btn btn-default" (click)="buttonClick(4)">Next </button>
    <button class="btn btn-default" (click)="buttonClick(5)">Previous </button>
  </div>

  <br>
</div>